<%= form_for(@estimate) do |f| %>
  <% if @estimate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estimate.errors.count, "error") %> prohibited this estimate from being saved:</h2>

      <ul>
      <% @estimate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, :default => Date.today %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total, required: true %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes, required: true %>
  </div>
  <div class="field">
    <%= f.label :client %><br>
    <%= f.text_field :client_name, data: {autocomplete_source: Client.order(:last_name).map{ |m| {:label=>m.client_summary, :id=>m.id}}}, required: true %>
    <%= f.hidden_field :client_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
