<div>
  <div>
    <p>
      <h2> <u>Moffa Landscaping</u>
        </h2>
      1647 Northshore Road<br>
      Revere, MA 02151
      </p>
  </div>
  <br>
  <h3> 
    Invoice
    </h3>
  <br>
  <div class="pull-left" style="width:33%">
    <p> 
      <%= @estimate.client.first_name %> <%= @estimate.client.last_name %> <br>
      <%= @estimate.client.billing_address %> <br>
      <%= @estimate.client.city %>, <%= @estimate.client.state %> <%= @estimate.client.zip %>   
      </p>
    </div>

  <div class="pull-right" style="width:33%">
    <p> 
      <strong>Estimate number:</strong> <%= @estimate.id %> <br>
      <strong>Estimate date:</strong> <%= @estimate.date.strftime("%m-%d-%y") %> <br>
      </p>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    <p>
      <strong>Notes:</strong>
      </p>
    <br>
    <div class="panel panel-default" >
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Service</th>
              <th>Quantity</th>
              <th>Cost</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% @estimate_items.each do |item| %>
            <tr>
              <% if item.name.downcase == 'cut' %>
                <td><h4><%= @estimate.date.strftime( "%B" ) %> Lawncare</h4></td>
                <% else %>
                <td><h4><%= item.name %></h4></td>
                <%end %>
                <td><h4><%= item.quantity %></h4></td>
              <% if item.price == 0 %>
                <td><h4>-</h4></td>
                <td><h4>-</h4></td>              
              <% else %>
                <td><h4><%= number_to_currency(item.price) %> </h4></td>
                <td><h4><%= number_to_currency(item.price * item.quantity) %> </h4></td>
              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <h4 class='pull-right' align='right'>
          <strong>Estimate Total:</strong> <%= number_to_currency(@estimate.total) %>
        </h4>
      </div>
    </div>
  </div>
  
  <br>

  
</div>