<div >
  <div>
    <p>
      <h2> <u>Moffa Landscaping</u>
        </h2>
      1647 Northshore Road<br>
      Revere, MA 02151
      </p>
  </div>
  <br>
  <h3> 
    Invoice
    </h3>
  <br>
  <div class="pull-left" style="width:33%">
    <p> 
      <%= @invoice.client.first_name %> <%= @invoice.client.last_name %> <br>
      <%= @invoice.client.billing_address %> <br>
      <%= @invoice.client.city %>, <%= @invoice.client.state %> <%= "%05d" % @invoice.client.zip %>   
      </p>
    </div>

  <div class="pull-right" style="width:33%">
    <p> 
      <strong>Invoice number:</strong> <%= @invoice.id %> <br>
      <strong>Invoice date:</strong> <%= @invoice.date.strftime("%m-%d-%y") %> <br>
      <strong>Payment due by:</strong> <%= (@invoice.date + (30*24*60*60)).strftime("%m-%d-%y") %>
      </p>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    <p>
      <strong>Notes:</strong>
      <%= @invoice.note %>
      </p>
    <br>
    <div class="panel panel-default" >
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Service</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Cost</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% @services.each do |service| %>
            <tr>
              <% if service.name.downcase == 'cut' %>
                <td><h4><%= @invoice.date.strftime( "%B" ) %> Lawncare</h4></td>
                <% else %>
                <td><h4><%= service.name %></h4></td>
                <%end %>            
                <td><h4><%= service.category  %></h4></td>
                <td><h4><%= service.quantity %></h4></td>
                <td><h4><%= number_to_currency(service.price) %> </h4></td>
                <td><h4><%= number_to_currency(service.price * service.quantity) %> </h4></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <h4 class='pull-right' align='right'>
          <strong>Invoice subtotal:</strong> <%= number_to_currency(@invoice.total) %>
          <br>
          <strong>Balance forward:</strong> <%= number_to_currency(@invoice.balance_forward) %>
          <br>
          <strong>Amount due:</strong> <%= number_to_currency(@invoice.total + @invoice.balance_forward) %>
        </h4>
      </div>
    </div>
  </div>
  
  <br>

  
</div>