<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date.strftime("%m-%d-%y") %>
</p>

<p>
  <strong>Performed by:</strong>
  <%= @invoice.performed_by %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invoice.status %>
</p>

<p>
  <strong>Note:</strong>
  <%= @invoice.note %>
</p>

<p>
  <strong>Client:</strong>
  <%= @invoice.client.first_name %> <%= @invoice.client.last_name %>
</p>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Service</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Cost</th>
          <th>Total</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @invoice_items.each do |item| %>
        <tr>
          <% if item.name.downcase == 'cut' %>
            <td><h4><%= @invoice.date.strftime( "%B" ) %> Lawncare</h4></td>
            <% else %>
            <td><h4><%= item.name %></h4></td>
            <%end %>            
            <td><h4><%= item.category  %></h4></td>
            <td><h4><%= item.quantity %></h4></td>
            <td><h4><%= number_to_currency(item.price) %> </h4></td>
            <td><h4><%= number_to_currency(item.price * item.quantity) %> </h4></td> 
            <td><h4><%= link_to "Delete", [@invoice, item], method: :delete, confirm: "Are you sure you want to delete this item?" %></h4></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "Add new item", new_invoice_invoice_item_path(@invoice), class: 'pull-right' %>

<br>

<h4 class='pull-right'> Invoice total: <%= number_to_currency(@invoice.total) %> </h4>

<br><br>

<div class='pull-right btn-group'> 
  <%= link_to "Set Status to Sent", set_sent_invoice_path(@invoice), class: 'btn btn-default' %>
  <%= link_to "Set Status to Paid", set_paid_invoice_path(@invoice), class: 'btn btn-default'%>
</div>

<div class='btn-group'>
  <%= link_to 'Edit Details', edit_invoice_path(@invoice), class: 'btn btn-primary' %>
  <%= link_to 'Back', invoices_path, class: 'btn btn-primary' %>
  <%= link_to "Generate PDF", generate_pdf_invoice_path(@invoice), class: 'btn btn-primary' %>
</div>

<div>
<%= link_to 'Delete Invoice', @invoice, method: :delete, class: 'pull-right btn btn-danger', data: { confirm: "This is a permanent action that can't be reversed. Are you sure?" } %>
</div>
