<div>
  <div>
    <p>
      <h2> <u>Moffa Landscaping</u>
        </h2>
      27 Bryant Street<br>
      Revere, MA 02151
      </p>
  </div>
  <br>
  <h3> 
    Invoice
    </h3>
  <br>
  <div class="pull-left" style="width:33%">
    <p> 
      <%= @invoice.client.first_name %> <%= @invoice.client.last_name %> <br>
      <%= @invoice.client.billing_address %> <br>
      <%= @invoice.client.city %>, <%= @invoice.client.state %> <%= "#{@invoice.client.zip}".rjust(5, '0') %>   
      </p>
    </div>

  <div class="pull-right" style="width:33%">
    <p> 
      <strong>Invoice number:</strong> <%= @invoice.id %> <br>
      <strong>Invoice date:</strong> <%= @invoice.date.strftime("%m-%d-%y") %> <br>
      <strong>Payment due by:</strong> <%= (@invoice.date + (14*24*60*60)).strftime("%m-%d-%y") %>
      </p>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    <p>
      <strong>Notes:</strong>
      <%= @invoice.note %>
      </p>
    <br>
    <div class="panel panel-default" >
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Service</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Cost</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <% @invoice_items.each do |item| %>
            <tr>
              <% if item.name.downcase == 'cut' %>
                <td><h4><%= @invoice.date.strftime( "%B" ) %> Lawncare</h4></td>
                <% else %>
                <td><h4><%= item.name %></h4></td>
                <%end %>            
                <td><h4><%= item.category  %></h4></td>
                <td><h4><%= item.quantity %></h4></td>
                <td><h4><%= number_to_currency(item.price) %> </h4></td>
                <td><h4><%= number_to_currency(item.price * item.quantity) %> </h4></td>
              </tr>
            <% end %> 
          </tbody>
        </table>      
        <br>
        <h4 class='pull-right' align='right'>
          <strong>Invoice subtotal:</strong> <%= number_to_currency(@invoice.total) %>
          <br>
          <%= render partial: @invoice.check_balance_forward, :locals => {invoice: @invoice} %>
        </h4>
      </div>
    </div>
  </div>
  
  <h4>Please make checks payable to: Aurelio Moffa, P.O. Box 555, Revere, MA 02151. If you have any questions please call 781-526-2967.</h4>

</div>
