<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @invoice_item.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @invoice_item.category %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @invoice_item.quantity %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @invoice_item.invoice %>
</p>