<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>
<br>
  <div class="pull-right">
    <%= form_tag(clients_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Clients" %>
    <%= submit_tag "Search", class: 'btn search-button' %>
    <% end %>
  </div>
<br>
<%= link_to 'New Client', new_client_path %>
<br>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th><%= sortable "billing_address" %></th>
          <th><%= sortable "job_address" %></th>
          <th><%= sortable "city" %></th>
          <th><%= sortable "state" %></th>
          <th><%= sortable "zip" %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.first_name %> <%= client.last_name %></td>
            <td><%= client.billing_address %></td>
            <td><%= client.job_address %></td>
            <td><%= client.city %></td>
            <td><%= client.state %></td>
            <td><%= "%05d" % client.zip %></td>
            <td><%= link_to 'Details', client, class: 'btn btn-mini btn-default' %></td>
            <td><%= link_to 'Edit', edit_client_path(client), class: 'btn btn-mini btn-success' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<br>

<h3>Import Clients</h3>
<%= form_tag import_clients_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Clients", class: 'btn btn-default' %>
<% end %>

<h3>Import Client Prices</h3>
<%= form_tag import_recurring_prices_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Prices", class: 'btn btn-default' %>
<% end %>

<h3>Download client records</h3>
<%= link_to "Download", clients_path(format: "csv"), class: 'btn btn-default' %>
