<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @client.billing_address %>
</p>

<p>
  <strong>Job address:</strong>
  <%= @client.job_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @client.zip %>
</p>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><h4>Service</h4></th>
          <th><h4>Price</h4></th>
          <th><h4>Remove Service</h4></th>
        </tr>
      </thead>
      <tbody>
        <% @recurring_prices.each do |item| %>
        <tr>
          <td><h4><%= item.name %></h4></td>
          <td><h4><%= item.price/100 %></h4></td>
          <td><h4><%= link_to "Delete", [@client, item], method: :delete, confirm: "Are you sure you want to remove this service from the customer?" %></h4></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "Add new recurring service", new_client_recurring_price_path(@client), class: 'pull-right' %>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
