<p id="notice"><%= notice %></p>

<h1>Listing Estimate Items</h1>

<table>
  <thead>
    <tr>
      <th>Estimate</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estimate_items.each do |estimate_item| %>
      <tr>
        <td><%= estimate_item.estimate %></td>
        <td><%= estimate_item.name %></td>
        <td><%= estimate_item.price %></td>
        <td><%= estimate_item.quantity %></td>
        <td><%= link_to 'Show', estimate_item %></td>
        <td><%= link_to 'Edit', edit_estimate_item_path(estimate_item) %></td>
        <td><%= link_to 'Destroy', estimate_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estimate item', new_estimate_item_path %>
