<p id="notice"><%= notice %></p>

<h1>Listing Client Prices </h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Clients</th>
      <th>Services</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_prices.each do |client_price| %>
      <tr>
        <td><%= client_price.price %></td>
        <td><%= client_price.client %></td>
        <td><%= client_price.services %></td>
        <td><%= link_to 'Show', client_price %></td>
        <td><%= link_to 'Edit', edit_client_price_path(client_price) %></td>
        <td><%= link_to 'Destroy', client_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New client price', new_client_price_path %>
