<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, :default => Date.today %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, required: true %>
  </div>
  <div class="field">
    <%= f.label :payment_type %><br>
    <%= f.text_field :payment_type, required: true %>
  </div>
  <div class="field">
    <%= f.label :select_invoice %><br>
    <%= f.text_field :select_invoice, data: {autocomplete_source: Invoice.order(:id).map{ |m| {:label=>m.invoice_summary, :id=>m.id}}},  required: true %>
    <%= f.hidden_field :invoice_id %>
  </div>
  <div class="field">
    <%= f.label :client %><br>
    <%= f.text_field :client_name, data: {autocomplete_source: Client.order(:last_name).map{ |m| {:label=>m.client_summary, :id=>m.id}}}, required: true %>
    <%= f.hidden_field :client_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
