<p id="notice"><%= notice %></p>

<h1>Listing Recurring Services</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><h4>Name</h4></th>
        </tr>
      </thead>

  <tbody>
    <% @recurring_services.each do |recurring_service| %>
      <tr>
        <td width="70%"><h4><%= recurring_service.name %></h4></td>
        <td><h4><%= link_to 'Show', recurring_service, class: 'btn btn-mini btn-default' %></h4></td>
        <td><h4><%= link_to 'Edit', edit_recurring_service_path(recurring_service), class: 'btn btn-mini btn-success' %></h4></td>
        <td><h4><%= link_to 'Destroy', recurring_service, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recurring service', new_recurring_service_path %>
